<div class="books">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Dropdown button</button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="filterByAuthor()">Svi</a>
                    <a *ngFor="let author of authors" class="dropdown-item" (click)="filterByAuthor(author.name)">{{ author.name }}</a>
                </div>
            </div>

            <div class="input-group">
                <input type="text" [(ngModel)]="searchTerm" class="form-control">
                <div class="input-group-append">
                    <button (click)="search()" class="btn btn-outline-secondary">Search</button>
                </div>
            </div>
        </div>

        <table class="books table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" (click)="sortBooks('name')">Name</th>
                    <th scope="col" (click)="sortBooks('author')">Author</th>
                    <th scope="col" (click)="sortBooks('numberOfPages')">No. of pages</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of isFiltered ? filteredBooks : books  " [routerLink]="[book.id]">
                    <td>
                        <img src="{{ book.coverImage }}">
                    </td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.numberOfPages }}</td>
                </tr>
            </tbody>
        </table>

        <ul *ngIf="totalPages > 0" class="pagination">
            <li [class.disabled]="currentPage === 1" class="page-item">
                <a class="page-link" (click)="prevPage()">Previous</a>
            </li>
            <li [class.active]="currentPage === i + 1" *ngFor="let page of ' '.repeat(totalPages).split(''), let i = index" class="page-item">
                <a (click)="goToPage(i + 1)" class="page-link">{{ i + 1 }}</a>
            </li>
            <li [class.disabled]="currentPage === totalPages" class="page-item">
                <a class="page-link" (click)="nextPage()">Next</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>
